                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.car_type.label(class="form-control-label") }}
                                    {{ form.car_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.car_kms.label(class="form-control-label") }}
                                    {% if form.car_kms.errors %}
                                        {{ form.car_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.car_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.car_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.plane_type.label(class="form-control-label") }}
                                    {{ form.plane_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.plane_kms.label(class="form-control-label") }}
                                    {% if form.plane_kms.errors %}
                                        {{ form.plane_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.plane_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.plane_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.ferry_type.label(class="form-control-label") }}
                                    {{ form.ferry_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.ferry_kms.label(class="form-control-label") }}
                                    {% if form.ferry_kms.errors %}
                                        {{ form.ferry_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.ferry_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.ferry_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.motorbike_type.label(class="form-control-label") }}
                                    {{ form.motorbike_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.motorbike_kms.label(class="form-control-label") }}
                                    {% if form.motorbike_kms.errors %}
                                        {{ form.motorbike_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.motorbike_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.motorbike_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.scooter_type.label(class="form-control-label") }}
                                    {{ form.scooter_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.scooter_kms.label(class="form-control-label") }}
                                    {% if form.scooter_kms.errors %}
                                        {{ form.scooter_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.scooter_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.scooter_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.bicycle_type.label(class="form-control-label") }}
                                    {{ form.bicycle_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.bicycle_kms.label(class="form-control-label") }}
                                    {% if form.bicycle_kms.errors %}
                                        {{ form.bicycle_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.bicycle_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.bicycle_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.walk_type.label(class="form-control-label") }}
                                    {{ form.walk_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.walk_kms.label(class="form-control-label") }}
                                    {% if form.walk_kms.errors %}
                                        {{ form.walk_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.walk_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.walk_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
