{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
    <section class="section_header_carbon_app">
        <div class="container">
    
        <div class="header_carbon_app">
            <div class="box"> 
            <h1 style="font-size:55px;"><span class="text-logo"> Carbon App Calculator</span></h1>
            <p style="text-align:left;">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores repellendus facilis cum illo aperiam odit doloremque nostrum. Totam excepturi labore voluptatibus iusto sapiente quisquam consectetur optio magnam voluptates omnis vel officia alias distinctio quas laborum reiciendis ratione inventore veniam, cupiditate doloribus dolore, eius natus a. Magni inventore consequuntur voluptas reprehenderit perferendis! Molestias aspernatur rem autem aut temporibus.
            </p>
            <div class="container_buttons_links_header_carbon_app">
                <div class="btn">
                    <a href="{{url_for('methodology.methodology_home')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">Methodology</a>
                </div>
                <div class="btn">
                    <a href="#" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;", data-toggle="modal" data-target="#carbon_app_instructions">Instructions</a>
                </div>
            </div>  
            <!-- Modal Instructions -->
            <div class="modal fade" id="carbon_app_instructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
          
                    <div class="modal-header">
                    <h5 class="modal-title", style="color:black; text-align: center;">Carbon App, instructions</h5>
                    </div>
          
                    <div class="modal-body", style="color:black">
                    <p style="text-align: left;">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ratione tempore id esse nobis molestias quasi explicabo possimus ea reprehenderit.
                    </p>
                    <ol style="text-align:left;">
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, sint.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, sint.
                        </li>
                    </ol>
                    </div>
          
                    <div class="modal-footer">
                        <button class="btn btn-secondary btn-lg mr-2", style="background-color:#6c757d;" data-dismiss="modal">Close</button>
                    </div>
          
                </div>
                </div>
            </div>
            </div>
            <div class="box">
            <img 
                src="{{url_for('static', filename='icons/calculator.svg')}}"
                width="325" 
                height="325"
                alt=""/>
            </div>
        </div>
        
        </div>
    </section> 
       
        <!-- carbon_app_new_entry_main -->
        <section class="section_calculator_students_entry_css">
            <div class="container">
                <div class="box">
        
                </div>
                <div class="box"> 
                    <legend class="border-bottom mb-4">{{ legend }}</legend>
                        <form method="POST" action="">
                            {{ form.csrf_token }}
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.bus_type.label(class="form-control-label") }}
                                    {{ form.bus_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.bus_kms.label(class="form-control-label") }}
                                    {% if form.bus_kms.errors %}
                                        {{ form.bus_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.bus_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.bus_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.car_type.label(class="form-control-label") }}
                                    {{ form.car_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.car_kms.label(class="form-control-label") }}
                                    {% if form.car_kms.errors %}
                                        {{ form.car_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.car_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.car_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.plane_type.label(class="form-control-label") }}
                                    {{ form.plane_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.plane_kms.label(class="form-control-label") }}
                                    {% if form.plane_kms.errors %}
                                        {{ form.plane_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.plane_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.plane_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.ferry_type.label(class="form-control-label") }}
                                    {{ form.ferry_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.ferry_kms.label(class="form-control-label") }}
                                    {% if form.ferry_kms.errors %}
                                        {{ form.ferry_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.ferry_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.ferry_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.motorbike_type.label(class="form-control-label") }}
                                    {{ form.motorbike_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.motorbike_kms.label(class="form-control-label") }}
                                    {% if form.motorbike_kms.errors %}
                                        {{ form.motorbike_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.motorbike_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.motorbike_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.scooter_type.label(class="form-control-label") }}
                                    {{ form.scooter_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.scooter_kms.label(class="form-control-label") }}
                                    {% if form.scooter_kms.errors %}
                                        {{ form.scooter_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.scooter_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.scooter_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.bicycle_type.label(class="form-control-label") }}
                                    {{ form.bicycle_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.bicycle_kms.label(class="form-control-label") }}
                                    {% if form.bicycle_kms.errors %}
                                        {{ form.bicycle_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.bicycle_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.bicycle_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
        
                            <div class="section_km_fuel_css">
                                <div class="box">
                                    {{ form.walk_type.label(class="form-control-label") }}
                                    {{ form.walk_type(class="form-control form-control-lg") }}
                                </div>
                                <div class="box">
                                    {{ form.walk_kms.label(class="form-control-label") }}
                                    {% if form.walk_kms.errors %}
                                        {{ form.walk_kms(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.walk_kms.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.walk_kms(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                            </div>
                            </br>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary btn-lg mr-2", style="background-color=#007bff;") }}
                            </div>
                        </form> 
                </div>
                <div class="box">
        
                </div>
            </div>
        </section> 

{% endblock content %}
